body {
  font-family: 'Saira Semi Condensed', sans-serif;
  font-size: 15px;
  background-color: #F0F0F0;
}

section {
  padding: 85px 0;
}

h1 {
  font-size: 40px;
  text-align: center;
}

h2 {
  font-size: 34px;
}

.btn {
  padding: 10px 25px;
  margin-right: 15px;
  border-radius: 10px;
}


/*-------------------------------- Intro --------------------------------*/
.intro-click-red {
  color: #ff4040;
}


/*------------------- 6. Text, Val & HTML Functions -------------------*/
.cool{
  font-size: 2em;
  color: green;
}


/*------------------------- 8. Inline Styling -------------------------*/
.beautify{
  background-color: #ffffff;
  font-size: 1.2em;
  color: #2734db;
  text-align: center;
  padding: 10px;
}

.beautify2{
  background-color: #e7e7e7;
  font-size: 1.2em;
  color: #0062e3;
  text-align: center;
  padding: 10px;
}

.inline-styling {
  color: #222222;
}

.blue_border{
  border-style: dashed;
  border-color: blue;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.important{
  color: red;
  font-weight: bold;
  font-size: 15px;
}

#super{
  border-style: dotted;
  border-color: red;
  padding-top: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
}


/*---------------- 9. Selection & Attribute Modification ----------------*/
#big {
  font-size: 2em;
  font-weight: bold
}

#small {
  font-size: 1em;
}

.pretty {
  color: #22a3ab;
  font-style: italic;
}

.border {
  border-style: dashed;
  border-color: #48fc6a;
}

.img-bigger {
  width: 50%;
}

.img-org {
  width: 35%;
}


/*------------------------- 12. DOM Traversal -------------------------*/
table {
  margin: 5%;
  font-family: Arial;
  font-size: 1.25em;
}
table, th, td {
  border: 1px solid purple;
  border-collapse: collapse;
}
th, td {
  padding: .25em;
}
th {
  background-color: purple;
  color: white;
}



/*------------------------- 14. The Event Lifecycle -------------------------*/
.div_next {
  display: inline-block;
  border: 1.5px solid #ababab;
  border-radius: 20px;
  box-shadow: 0 10px 10px #494949;
  padding: 50px 80px;
}

.title{
  color: #163565;
}

.book{
  border: 1.5px solid #18c658;
  border-radius: 15px;
  margin: 10px 0;
  padding: 30px;
}

.display_none {
  display: none;
}



/*--------------- Footer Section ---------------*/
footer {
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #303030;
  color: white;
  padding: 20px 0;
}



/*------------------------------ WEB CHAT ------------------------------*/

.container {
  position: relative;
  /*text-align: center;*/
}

.centered {
  position: absolute;
  color: #ffffff;
  top: 43%;
  left: 35%;
  transform: translate(-30%, -30%);
}

.btn-chat-now {
  background: #e00068;
  color: #ffffff;
  padding: 10px 40px;
  font-size: 1.1em;
  border-radius: 30px;
  box-shadow: 0px 0px 0px 2px #e7307c;
}

.btn-chat-now:hover {
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
	box-shadow: 0px 0px 0px 2px #ff3c7c;
  background: #ff3c7c;
  color: #ffffff;
	cursor: pointer;
}

.btn-send {
  background: #00b976;
  color: #ffffff;
  padding: 10px 40px;
  font-size: 1.1em;
  border-radius: 30px;
  box-shadow: 0px 0px 0px 2px #00b976;
}

.btn-send:hover {
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
	box-shadow: 0px 0px 0px 2px #35a47c;
  background: #35a47c;
  color: #ffffff;
	cursor: pointer;
}

/*--------------------- Media Queries ---------------------*/
@media only screen and (max-width : 991px) {
  .centered {
    font-size: 10px;
    color: #000000;
    top: 40%;
    left: 35%;
    transform: translate(-30%, -30%);
  }
}
