body {
  font-family: 'Saira Semi Condensed', sans-serif;
  background-color: #F0F0F0;
}

h1 {
  font-size: 40px;
  text-align: center;
}


/*------------- 6. Text, Val & HTML Functions -------------*/
.cool{
  font-size: 2em;
  color: green;
}
