body {
  font-family: 'Saira Semi Condensed', sans-serif;
  background-color: #F0F0F0;
}

h1 {
  font-size: 40px;
  text-align: center;
}


/*------------- 6. Text, Val & HTML Functions -------------*/
.cool{
  font-size: 2em;
  color: green;
}


/*------------- 8. Inline Styling -------------*/
.beautify{
  background-color: lightgrey;
  font-weight: bold;
  color: blue;
  text-align: center;
}

.blue_border{
  border-style: dashed;
  border-color: blue;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.important{
  color: red;
  font-weight: bold;
  font-size: 15px;
}

#super{
  border-style: dotted;
  border-color: red;
  padding-top: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
}
